<div class="navbar navbar-default navbar-fixed-top">
    <form class="navbar-form navbar-left">
        <label for="repeatSelect">Select filter:</label>
        <select class="form-control" id="repeatSelect"  name="repeatSelect" ng-model="filter"  ng-change="getSearchResults()">
            <option ng-repeat="option in filters" value="{{option}}">{{option}}</option>
        </select>
        <div class="form-group">
            <label>Search for a hotel</label>
            <input ng-model="query" ng-change="getSearchResults()" type="text" class="form-control" placeholder="Search"/>
            <label>{{total}} hotels found!!</label>
        </div>
    </form>

</div>
<div class="container"  scroll-infinite="loadData()">
    <br>
    <hotel  class="table-responsive"></hotel>
</div>

