.travelRepublic {
  height: 100%;
  width: 100%;
  .headers {
    cursor: pointer;
    &.sorted {
      background-color: #e7e7e7;
      &.up {

      }
      &.down {

      }
    }
  }

  td {
    &.fields {
      div {
        overflow-y: hidden;
      }
    }
  }
  .container {
    overflow: scroll;
    height: 800px;
    table {
      height: 1000px;
    }
  }
  @media (max-width: 767px) {
    hotel {
      position: relative;
      top: 150px;
    }
  }
  @media (min-width: 768px) {
    hotel {
      position: relative;
      top: 50px;
    }
  }
}