.travelRepublic {
  height: 100%;
  width: 100%;
}
.travelRepublic .headers {
  cursor: pointer;
}
.travelRepublic .headers.sorted {
  background-color: #e7e7e7;
}
.travelRepublic td.fields div {
  overflow-y: hidden;
}
.travelRepublic .container {
  overflow: scroll;
  height: 800px;
}
.travelRepublic .container table {
  height: 1000px;
}
@media (max-width: 767px) {
  .travelRepublic hotel {
    position: relative;
    top: 150px;
  }
}
@media (min-width: 768px) {
  .travelRepublic hotel {
    position: relative;
    top: 50px;
  }
}
