<table class="table table-bordered">
    <thead class="header">
    <tr class="row">
        <th class="fields headers col-sm-3 key" ng-class="{'sorted':(sortBasis === key)}" ng-repeat="key in keys" ng-click="setOrder(key)">
            <b >{{key}}</b><i class="fa" ng-if="sortBasis === key" ng-class="{'fa-chevron-down': order[key], 'fa-chevron-up': !order[key]}"></i>
        </th>
    </tr></thead>
    <tbody>
    <tr ng-repeat='hotel in hotels' class="row">
        <td class="fields col-sm-2" ng-repeat="key in keys"
            ng-if="key.indexOf('Url') === -1"><div  ng-bind="hotel[key]"></div></td>
    </tr>
    </tbody>
</table>

